.chatRoomContent .loggedIn {
	color: green;
	font-weight: bold;
}

.chatRoomContent .loggedOut {
	color: grey;
}

.chatRoomContent .chatRoomDescriptionPanel {
	vertical-align: top;
}

.chatRoomContent .chatRoomPanel {
	vertical-align: top;
	width: 450px;
}

.chatRoomContent .msgOutputTag{
	vertical-align: top;
}

.chatRoomContent .chatRoomPanelContent {
	width: 410px;
}

.chatRoomContent .onlineInfoBox{
	height: 150px;
}

.chatRoomContent .actionLogBox{
	height: 150px;
}

.chatRoomContent .chatBox{
	height: 200px;
}