/bin/
src_webapp/target/
/target/
src_rasp/target/
/.classpath
/.settings/
/.project
src_webapp/src/main/webapp/WEB-INF/.faces-config.xml.jsfdia
/.idea/
src_webapp/.idea/
src_rasp/.idea/
/lib/
.DS_Store
documents/softwarekonzept/.DS_Store
src_webapp/skeleton.iml
skeleton.iml
src_rasp/bleclient.iml
