/bin/
src_webapp/target/
/.classpath
/.settings/
/.project
src_webapp/src/main/webapp/WEB-INF/.faces-config.xml.jsfdia
src_webapp/.idea/
/lib/
.DS_Store
documents/softwarekonzept/.DS_Store
src_webapp/skeleton.iml
