.chatRoomContent .loggedIn {
  color: green;
  font-weight: bold;
}

.chatRoomContent .loggedOut {
  color: grey;
}

.chatRoomContent .chatRoomDescriptionPanel {
  vertical-align: top;
}

.chatRoomContent .chatRoomPanel {
  vertical-align: top;
  width: 40%;
}

.chatRoomContent .msgOutputTag {
  vertical-align: top;
}

.chatRoomContent .chatRoomPanelContent {
  width: 100%;
}

.chatRoomContent .onlineInfoBox {
  height: 150px;
}

.chatRoomContent .actionLogBox {
  height: 150px;
}

.chatRoomContent .chatBox {
  height: 200px;
}

.chatRoomPanelContent ~ h3 {
  margin-top: 30px;
}
